@import url('https://fonts.googleapis.com/css?family=Suez+One');

.capsulla-pc-main-logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    .capsulla-pc-logo-image {
        width: 2rem;
        height: 2rem;
        background-image: url(chrome-extension://__MSG_@@extension_id__/images/logo-128.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 1.5rem;
        height: 1.5rem;
        background-size: cover;
        background-position: center;
        display: inline-block;
    }

    .capsulla-pc-logo-text {
        font-family: 'Suez One', sans-serif !important;
        font-weight: 400;
        font-size: 1.35rem !important;
        line-height: 1.5;
        color: var(--spc-foreground) !important;
        user-select: none;
        cursor: default;

        span {
            font-size: 1.5rem !important;
            font-family: 'Suez One', sans-serif !important;
            color: var(--spc-primary);
        }
    }
}
